

// Colors

$color-gray: #8f8f8f;

$color-aqua: #079BAB;

$color-aqua-light: lighten($color-aqua, 5%);
$color-aqua-dark: darken($color-aqua, 10%);
$color-aqua-extra-dark: darken($color-aqua, 20%);


$color-orange: #FFC432;
